@font-face {
    font-family: charter;
    src: url('../fonts/fonts/fonts/charter-regular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/fonts/fonts/charter-italic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: charter;
    src: url('../fonts/fonts/fonts/charter-bold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: Ed;
    src: url('../fonts/fonts/fonts/charter-bold-italic.otf');
    font-style: italic;
    font-weight: bold;
}

:root{
    font-size: 16px;
    --gray30: #212121;
    --gray20: #212429; 
    --gray10: #616161;
}

body{
    color: var(--gray30);
    font-family: charter;
}



h1{
    font-size: 60px;
    
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.5em;
}

header{
    font-size: 14px;
    color: var(--gray10);
}

header a{
    color: var(--gray10);
    text-decoration: none;
}

header a:hover{
    color: var(--colorcito);
}

nav details summary{
    font-weight: bold;
}